
body{
margin:0px;
padding:0px;
background-color:#353535;
text-decoration: none;
}
.container{
margin:0px;
padding:0px;
max-width:100%;
}
    .row{
    justify-content: space-between;
    }



/* 1st column */



#col1{
width:10%;
}
    #logo{
    width:150px;
    }
    #col-1 > nav {
    margin-top: 30px;
    margin-left: 30px;
    padding-left:0px;
    }


#col-1 > nav > div{
margin-top: 50px;
}
    #col-1 > nav > div > div:hover{
    background-color:#eeeeee;
    width:220px;
    border-radius: 20px 0px 0px 20px;
    color:black;
    margin-right:5px;
    } 

#col-1 > nav > div > div >.nav-link {
color:white;
text-align: left;
padding-left: 0px;
padding-top: 10px;
border-radius: 20px; 
}
    #col-1 > nav > div > div >.nav-link:hover{
    color:#ff4300;
    }


/* 2nd column */



#col-2 {
 background-color: #eeeeee;
 border-radius: 30px 0px 0px 0px;
 height:100vh;
 width:80%;
 margin-left: 0px;
 padding:0px;
 max-width:100%;
    
}
#col-2 > #nav-div{
background-color: #ffffff;
margin-left: 0px;
height:55px;
border-radius: 30px 0px 0px 0px;

}
#col-2 > #nav-div > a{
margin-left: 78%;
padding-top: 17px;
color:#353535;
font-size:small;
font-weight: bold;
}
 #supporImg{
height:35px;
position: relative;
left:93%;
bottom: 34px;
 }


/* main container  */


.main-container{
margin-top:20px;
width:100%;
}
.col-md-2{

}