
body{
margin:0px;
padding:0px;
background-color:#353535;
text-decoration: none;
}
.container{
margin:0px;
padding:0px;
max-width:100%;
}
    .row{
    justify-content: space-between;
    }



/* 1st column */



#col1{
width:10%;
}
    #logo{
    width:150px;
    }
    #col-1 > nav {
    margin-top: 20px;
    margin-left: 30px;
    padding-left:0px;
    }


#col-1 > nav > div{
margin-top: 50px;
}
    #col-1 > nav > div > div:hover{
    background-color:#eeeeee;
    width:180px;
    border-radius: 20px 0px 0px 20px;
    color:black;
    margin-right:5px;
    padding-left:10px;
    } 

#col-1 > nav > div > div >.nav-link {
color:white;
text-align: left;
padding-left: 0px;
padding-top: 10px;
border-radius: 20px; 
}
    #col-1 > nav > div > div >.nav-link:hover{
    color:#ff4300;
    }


/* 2nd column */



#col-2 {
 background-color: #eeeeee;
 border-radius: 30px 0px 0px 30px;
 height:100vh;
 width:80%;
 margin-left: 0px;
 padding:0px;
 max-width:100%;
    
}
#col-2 > #nav-div{
background-color: #ffffff;
margin-left: 0px;
height:55px;
border-radius: 30px 0px 0px 0px;

}
#col-2 > #nav-div > a{
margin-left: 78%;
padding-top: 17px;
color:#353535;
font-size:1em;

}
 #supporImg{
height:35px;
position: relative;
left:95%;
bottom: 38px;
 }


/* main container  */


.main-container{
margin-top:20px;
width:100%;
}
.col-md-2{
    padding:20px;
    margin-top:30px;
}
#col-01 >.col-md-6 > h2{
    color:#353535;
    font-weight: bold;
    margin-top:40px;
    padding-left: 50px;
}
#col-01 >.col-md-2 > #Export_Order{
    text-decoration: none;
    font-size:0.87em;
    color:#ff4300;
    margin-top: 35px;
    margin-left: 48px;
}
#col-01 >.col-md-2 > #import_Order{
    text-decoration: none;
    font-size:0.87em;
    color:#ff4300;
    margin-top: 35px;
    margin-left: 25px;
    
}
#col-01 > .col-md-2 > button{
    border-radius: 20px;
    width:150px;
    height:35px;
    color:white;
    background-color: #2ec00a;
    border:solid 0px white; 
}




#col-02{
    justify-content: flex-start;
    margin-top:20px;
    width:100%;

}
.input-group{
    width:250px;
    margin-left: 50px;
    box-shadow:1px 1px 10px #e0dcdc;
    border-radius: 30px;
}
.input-group > input{
    border-radius:30px 0px 0px 30px;
}
#button{
    border-radius:0px 30px 30px 0px;
    background-color:#ff4300;
    color:white;
}
.buttonDrop{
    border-radius: 50px;
    box-shadow:1px 1px 10px #e0dcdc;
}


#footerDiv{
    position:absolute;
    bottom: 0px;
    background-color: white;
    width:100%;
    border-radius: 0px 0px 0px 30px ;
    height:40px;

}
#footerDiv > p{
    text-align: center;
    margin:15px 15px;
}
.red-text{
    color:#ff4300;
}

