.action-div{
    margin-left: 3.5%;
    margin-top: 50px;
}
.action-div button{
    border-radius: 20px;
    width: 150px;
    height: 35px;
    border: solid 0px white;
}

.image-container{
    position: relative;
    right:0px;
    height:400px;
}
.image-div{
    height:600px;
    position: absolute;
    bottom:0px;
    right: 0px;
    width:60%;
}
.image-div img{
    margin-top: 50px;
}
